$grey:          #999;
$darkgrey:      #666;
$lightgrey:     #CCC;
$lightgrey2:    #DDD;
$hover-bg:      #E6E6E6;
$white:         #FFF;
$black:         #000;
$font-color:    #333;
$blue-text:     #0078D7;
$nav-border:    #dee2e6;
$red:           #ff0000;
$blue:          blue;